@import 'commons.css';
@import 'nav.css';
@import 'footer.css';

body {
  background-color: var(--color-background-light);
}

.menu {
  width: 100%;
  padding-inline: 60px;
  background-color: var(--color-background-dark);
}

main {
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: var(--color-primary);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 600px;
  margin-top: 20px;
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 20px;
  font-size: 24px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

td {
  padding: 12px;
  border: 1px solid var(--color-gray);
  text-align: left;
}

tr:nth-child(even) {
  background-color: var(--color-gray-lighter);
}

tr:hover {
  background-color: var(--color-gray);
}

td a {
  color: var(--link-account-color);
  transition: color 0.3s ease;
}

td a:hover {
  color: var(--link-account-hover);
  text-decoration: underline;
}

.director-btn,
.admin-btn {
    width: 170px;
    padding: 12px;
    border: none;
    border-radius: 30px;
    background: var(--btn-account-background);
    color: var(--btn-account-color);
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s;
}

.director-btn {
  width: 200px;
}

.director-btn:hover,
.admin-btn:hover {
    background: var(--btn-account-background-hover);
}

@media (max-width: 400px) {
  td:nth-child(odd),
  th:nth-child(odd) {
    display: none;
  }

  .menu {
    padding-inline: 5px;
  }

  .logo {
    height: 40px;
    width: auto;
  }

  .login-btn {
    height: 30px;
    width: auto;
    font-size: 15px;
  }
}