#link-users-with-content > h1 {
    margin-bottom: 0;
}

#link-users-with-content {
    padding: 2rem;
}

.users-section {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.available-users {
    width: 100%;
}

.linked-users, .selected-users {
    flex: 1;
    padding: 1rem;
    background-color: var(--color-background-light);
    border-radius: 8px;
}

#link-users-with-content > div.users-section > div.linked-users > h3,
#link-users-with-content > div.users-section > div.selected-users > h3 {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.user-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 2px 4px var(--admin-box-shadow);
    transition: all 0.2s;
}

.user-card.selected {
    background-color: #e0f7fa;
    border-left: 4px solid var(--link-users-btn-background);
}

.user-card.linked {
    background-color: #e8f5e9;
    border-left: 4px solid var(--list-users-actions);
    cursor: default;
}

.user-info {
    flex: 1;
}

.user-name {
    font-weight: bold;
    margin-bottom: 0.25rem;
}

.user-role {
    font-size: 0.8rem;
    color: var(--color-gray-darker);
}

.user-actions {
    display: flex;
    gap: 0.5rem;
}


#link-users-btn {
    margin-top: 1rem;
    width: 100%;
    padding: 0.75rem;
    background-color: var(--link-users-btn-background);
    color: var(--color-primary);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.2s;
}

#link-users-btn:hover {
    background-color: var(--link-users-btn-hover);
}

#link-users-btn:disabled {
    background-color: var(--link-users-btn-disabled);
    cursor: not-allowed;
}

.unlink-buttons,
.unselect-btn {
    padding: 6px 12px;
    background-color: var(--admin-sidebar-active);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.unlink-buttons:hover,
.unselect-btn:hover {
    background-color: var(--unlink-users-btn-hover);
}

.cv-links {
    color: var(--link-account-color);
    text-decoration: none;
    transition: color 0.2s ease;
    font-weight: 500;
}

.cv-links:hover {
    color: var(--link-acount-hover);
    text-decoration: underline;
}

.disabled {
    background-color: var(--list-users-disabled);
    color: var(--color-primary);
    cursor: not-allowed;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
}